.mapouter{
	position:relative;
	text-align:right;
	height:500px;
	width:600px;
	margin-left:20px;	
}
.gmap_canvas {
	overflow:hidden;
	background:none;
	height:500px;
	width:600px;
	frameborder: 0px;
	scroll: no;
	
}