img.resize {
		width: 222px;
		height: 296px;
		max-width: 33%;
		max-height: 33%;
}
img.resize2 {
		width: 296px;
		height: 296px;
}
img.w3 {
		border: 0;
		width: 88px;
		height: 31px;
}
#MB img{
	max-width: 80%;
	width: 200px;
	max-height: 80%;
	height: 200px;
}
#MB td {
	text-align: center;
	width: 250px;
}
.EAGLE {
	max-width: 80%;
	width: 256px;
	max-height: 80%;
	height: 165px;
}
.BADGE {
	max-width: 80%;
	width: 128px;
	max-height: 80%;
	height: 140px;
}
.car {
	max-width: 80%;
	width: 400px;
	max-height: 80%;
	height: 400px;
}
.carwide {
	max-width: 80%;
	width: 800px;
	max-height: 80%;
	height: 400px;
}