@import url('https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: darkgoldenrod;
	background-color: dimgray;
}

h1 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bolder;
	font-style: normal;
	color: dodgerblue;
	font-size: 96px;
	text-align: center;
}
h2 {
	color:dodgerblue;
	font-weight:bold;
	text-align:left;
	margin-left: 10px;
	background-color: dimgray;
}
p {
	margin-left: 20px;
	margin-right: 10px;
	padding-left: 10px;
	font-size: 20px;

}
ul {
	list-style: none;
	padding: 0;
}
#resume p{
		color: navy;
		background-color: white;
}
#resume h2 {
		color: maroon;
}
#resume p, ul{	
		padding: 5px;
}
#MB img{
	max-width: 80%;
	width: 200px;
	max-height: 80%;
	height: 200px;
}
#MB td {
	text-align: center;
	width: 250px;
}
.EAGLE {
	max-width: 80%;
	width: 256px;
	max-height: 80%;
	height: 165px;
}
.BADGE {
	max-width: 80%;
	width: 128px;
	max-height: 80%;
	height: 140px;
}
.main {
  margin-top: 72px;
}
.clock {
	text-align: center;
	text-decoration: none;
	font-family: 'Orbitron', sans-serif;
	font-size: 60px;
}
