@import url('https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: darkgoldenrod;
	background-color: #272727;
}

h1 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bolder;
	font-style: normal;
	color: dodgerblue;
	font-size: 96px;
	text-align: center;
}
h2 {
	color:dodgerblue;
	font-weight:bold;
	text-align:left;
	margin-left: 10px;
	background-color: #272727;
}
p {
	margin-left: 20px;
	margin-right: 10px;
	padding-left: 10px;
	font-size: 20px;

}
ul {
	list-style: none;
	padding: 0;
}

#resume h2 {
		color: maroon;
}
#resume p, ul{	
		padding: 5px;
}

.main {
  margin-top: 72px;
}
.clock {
	text-align: center;
	text-decoration: none;
	font-family: 'Orbitron', sans-serif;
	font-size: 60px;
}
