#navbar {
	background-color: dodgerblue;
	overflow: hidden;
	width: 100%;
	position: fixed;
	margin-top: 0;
	top: 0px;
}

#navbar-container {
	position: relative;
	float: left;
	left: 50%;
	display: block;
}

#navbar-container ul {
	position: relative;
	float: left;
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	right: 50%;
}
#navbar-container ul li{
	float: left;
}
#navbar-container li a:link, li a:visited {
  background-color: dodgerblue;
  color: dimgray;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#navbar-comtainer a:hover, li a:active {
  background-color: dimgray;
  color: dodgerblue;
}
#nav-link {
	margin-right: 0px;
	margin-top: 0px;
}
#nav-link a:link, a:visited {
  background-color: dodgerblue;
  color: dimgray;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:260px;
}
#nav-link a:hover, a:active {
  background-color: dimgray;
  color: dodgerblue;
}